{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block MAIN %}
<section id="connexion">
    {# DÉCONNEXION #}
    <form method="post" class="form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, 
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <div class="formcontainer">
            <h2 class="h3 mb-3 font-weight-normal">connectez-vous</h2>

            <div class="formgroup">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>

                <label for="password">Mot De Passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {# Se souvenir de moi — optionnel #}
                {# 
                <div>
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Se souvenir de moi</label>
                </div> 
                #}

                <button type="submit">Se connecter</button>
            </div>
        </div>
        <a class="noAccount" href="{{ path('app_inscription') }}">Pas de compte ? Inscrivez-vous.</a>
    </form>
</section>
{% endblock %}