{% extends 'base.html.twig' %}

{% block title %}Escape Game{% endblock %}

{% block MAIN %}
    {# ESCAPE GAME #}
    <section id="escapegame">
        <div class="intro">
            <h2>Nos Escape Game</h2>
            <p>Bienvenue dans notre Escape Game !</p>
            <p>Préparez-vous à résoudre des énigmes et à vous</p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href={{ path('app_escape_game_create')}}>Nouveau Escape Game</a>
            {% endif %}
        </div>

        <div class="cartes">
            {% for escapegame in escapegames %}
                <div class="escapegame">
                    <a href="{{ path('app_escape_game_details', {'id': escapegame.id }) }}" >
                            <h3>{{escapegame.nom}}</h3>
                            <img src="{{ asset('images/' ~ escapegame.imageName) }}" alt="">
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="actions">
                            <a class="modifier" href="{{ path('app_escape_game_update', {'id': escapegame.id}) }}"><i class="fa-solid fa-pen pen"></i><i class="fa-solid fa-pen fa-bounce"></i></a>
                            <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('app_escape_game_delete', {'id': escapegame.id}) }}">
                                <input type="hidden" name="_method" value="delete"> 
                                <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ escapegame.id) }}">
                                <button id="delete" type="submit"><i class="fa-solid fa-xmark xmark"></i><i class="fa-solid fa-xmark fa-bounce"></i></button>   
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
