<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {# HEADER #}
        {% block HEADER %}
            <header>
                <nav>
                    <div class="logoburger">      
                        <li><a href={{ path('app_accueil')}}><img src="{{ asset('images/Logo.png') }}" alt=""></a></li>
                    </div>
                    <div class="burger" id="burger">☰</div>
                    <ul class="nav_menu">
                        <div class="nav_liens">
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_accueil' %} active {% endif %}" href={{ path('app_accueil')}}>Accueil</a></li>
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_escape_game' %} active {% endif %}" href={{ path('app_escape_game')}}>Escape Game</a></li>
                            {% if app.user != null %}
                                <li><a class="{% if app.request.attributes.get('_route') == 'app_profil' %} active {% endif %} profil" href={{ path('app_profil')}}>Profil</a></li>
                            {% else %}
                                <li><a class="{% if app.request.attributes.get('_route') == 'app_inscription' %} active {% endif %} inscription" href={{ path('app_inscription')}}>Inscription</a></li>
                            {% endif %}
                        </div>

                        <div class="logo">      
                            <li><a href={{ path('app_accueil')}}><img src="{{ asset('images/Logo.png') }}" alt=""></a></li>
                        </div>

                        <div class="nav_liens">
                            {% if app.user != null %}
                                <li><a class="{% if app.request.attributes.get('_route') == 'app_logout' %} active {% endif %} logout" href={{ path('app_logout')}}>Déconnexion</a></li>
                            {% else %}
                                <li><a class="{% if app.request.attributes.get('_route') == 'app_login' %} active {% endif %} login" href={{ path('app_login')}}>Connexion</a></li>
                            {% endif %}
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_calendrier' %}active{% endif %}" href={{ path('app_calendrier') }}>Calendrier</a></li>       
                            <li><a class="{% if app.request.attributes.get('_route') == 'app_contact' %} active {% endif %}" href={{ path('app_contact')}}>Contact</a></li>
                        </div>
                    </ul>
                </nav>
            </header>  
        {% endblock %}

        {# MAIN #}
        {% block MAIN %}
        {% endblock %}   

        {# FOOTER #}
        {% block FOOTER %}
        <footer>
            <div class="footer_logo">
                <a href="{{ path('app_accueil') }}">
                    <img src="{{ asset('images/Logo.png') }}" alt="Logo Enigma">
                </a>
            </div>
            <p>© 2025 - Tous droits réservés</p>
            <ul class="footer_links">
                <li><a href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>
            </ul>
            <ul class="footer_socials">
                <li><a href="https://www.instagram.com/lenigma24/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.instagram.com/lenigma24/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61576589264503" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </footer>
        {% endblock %}

        {% block JAVASCRIPT %}
        {% endblock %}
    </body>
</html>
